<h1> Overview: Fitness Tracker with RPG Style Progression </h1>


{{#if user}}
  <h3> You are currently logged in as {{user.username}} </h3>

  <a href="/logout"> Logout </a>


{{/if}}


<div class="container-fluid bg-1 text-center">
  <h4> Welcome <em>{{user.username}} </em>, here is how MuscleStory works...</h4>
</div>
<div class="container-fluid bg-2 text-center">
  <h4>A web app that will allow users to record their workouts and track their progress. Once users register and sign in,
    they will have access to a list that they can use to add details of their exercise, such as number of repetitions performed, sets, and weight.</h4>
</div>
<div class="container-fluid bg-3 text-center">
  <h4>There will also be a personalized character feature, which will grow alongside the user. Hopefully, the avatar's growth will reflect the transformation that the user will be experiencing as they improve their fitness.
    The purpose of this app is to provide a fun way to help users stay on track on their physical fitness journey.</h4>
  <h4>Data Model: Users can have multiple lists (via references).</h4>
  <h4>Each list will have the following fields: user, exercise, repetitions, sets, weight, date, RPE (rate of perceived exertion) (by embedding).</h4>
</div>
