<h1> Overview: Fitness Tracker with RPG Style Progression </h1>

<h2> Welcome {{user}}, here is how MuscleStory works... </h2>

<br>

<p> A web app that will allow users to record their workouts and track their progress. Once users register and sign in,
  they will have access to a list that they can use to add details of their exercise, such as number of repetitions performed, sets, and weight. </p>
<br>
<p> There will also be a personalized character feature, which will grow alongside the user. Hopefully, the avatar's growth will reflect the transformation that the user will be experiencing as they improve their fitness.
  The purpose of this app is to provide a fun way to help users stay on track on their physical fitness journey. </p>

<h2> Data Model </h2>
<p> The application will store Users, Lists, and Items. </p>
<br>
<p> Users can have multiple lists (via references). </p>
<br>
<p> Each list will have the following fields: user, exercise, repetitions, sets, weight, date, RPE (rate of perceived exertion) (by embedding). </p>
