<h2>Register for an account...</h2>

{{#if message}}
	<h3> {{message}} </h3>
{{/if}}

<form method="POST" action="register">


	<div>
		<label for="username">Username:</label>
		<input type="text" name="username" value="">
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" name="password" value="">
	</div>
	<div>
		<input type="submit" value="Register!">
	</div>
</form>
