<form method="POST" action="details">
	<div>
		<label for="height">Height:</label>
		<input type="text" name="height" value="">
	</div>
	<div>
		<label for="weight">Weight:</label>
		<input type="text" name="weight" value="">
	</div>

  <div>
    <label for="goalWeight">Goal Weight:</label>
    <input type="text" name="goalWeight" value="">
  </div>
  <div>
		<input type="submit" value="Submit Details">
	</div>
</form>
